@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lucida Console", "Courier New", monospace;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #4B5563;
    border-radius: 4px;
}

.active{
    background-color: #4B5563;
    border-color: #4B5563;
}