node_modules/

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.DS_Store
Thumbs.db

*.cache
*.tmp

dist/
build/

.idea/
.vscode/
*.swp

docker-compose.override.yml
*.dockerignore

*.bak
*.pid
*.seed
*.seed.js

uploads/

.githooks/

*.zip
*.tar.gz
